In [6]:
import seaborn as sns
import pandas as pd
planets = sns.load_dataset("planets")
df = planets.copy()
df.method = pd.Categorical(df.method)

In [8]:
df.shape

(1035, 6)

In [9]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [7]:
df.describe().T
#describe fonksiyonu sayısal işlem yaptığı için kategorik değişkenleri almaz
#hepsini alsın istiyorsak df.describe(include = "all").T yaparız

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [11]:
#eğer zamanla ilgili işler yapacak olursak year değişkenini bilgisayara da
#year olarak tanıtmamız lazım, sadece sayı olarak kalmamalı yoksa hesap yapamayız